html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-family;
  font-weight: 500;
  color: $text-color-dark;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

input {
  padding: 0.75rem;
  border: none;
  border-radius: 6px;

  &:focus {
    outline: 1px solid $border-color-light;
  }
}

button {
  padding: 0.75rem 1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;

  &:focus {
    outline: 1px solid $border-color-light;
  }
}

p {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

img {
  max-width: 100%;
}
