// Colors
$text-color-dark: #3d3d3d;
$text-color-light: #f7f8fa;
$section-bg-light: #f4f4f4;
$section-bg-dark: #f6f6ff;
$border-color-light: #dbdde0;
$bg-color-light: #46b581;
$bg-color-dark: #19a463;

// Typography
$font-family: "Quicksand", sans-serif;
$font-size-sm: 14px;
