<div class="footer__top">
  <div class="container">
    <div class="row">
      <div class="xs-12 lg-4">
        <h4 class="logo footer__logo">Company Logo</h4>
      </div>
      <div class="xs-12 sm-6 md-6 lg-4 row">
        <div class="xs-6">
          <h4>Company</h4>
          <nav class="footer__nav">
            <ul>
              <li>
                <a href="#" class="footer__navlink">About</a>
              </li>
              <li>
                <a href="#" class="footer__navlink">Careers</a>
              </li>
              <li>
                <a href="#" class="footer__navlink">Blog</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="xs-6">
          <h4>Employer</h4>
          <nav class="footer__nav">
            <ul>
              <li>
                <a href="#" class="footer__navlink">Help Center</a>
              </li>
              <li>
                <a href="#" class="footer__navlink">Job Location</a>
              </li>
              <li>
                <a href="#" class="footer__navlink">Companies</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="xs-12 sm-6 md-6 lg-4">
        <form action="#" class="footer__subscribe">
          <h4>Subscribe</h4>
          <div class="input-group">
            <input
              type="email"
              name="email"
              placeholder="Email"
              class="input"
            />
            <button type="submit" class="btn--plain">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="12"
                viewBox="0 0 14 12"
                fill="none"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M10.3497 11.5L6.9543 9.21477L5.58509 10.3628L5.02898 7.91888L10.9587 2.72567L3.84882 6.80974L0.5 4.39355L13.5 0.5L10.3497 11.5Z"
                  fill="#4351E8"
                />
              </svg>
            </button>
          </div>
          <p>Join our newsletter to stay up to date on features and releases</p>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="footer__bottom">
  <div class="container">
    <div class="row">
      <div class="xs-12 md-6 lg-8 footer__copyright">
        <span class="footer__copyright-text">© 2022 All right reserved.</span>
        <nav class="footer__legal">
          <a href="#" class="footer__legal">Privacy Policy</a>
          <a href="#" class="footer__legal">Term of Service</a>
        </nav>
      </div>
      <nav class="xs-12 md-6 lg-4 social">
        <a href="#" class="social__link"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M15.1172 0H0.882759C0.395224 0 0 0.395224 0 0.882759V15.1172C0 15.6048 0.395224 16 0.882759 16H8.55172V9.81241H6.46897V7.39034H8.55172V5.60828C8.55172 3.54207 9.81517 2.41655 11.6579 2.41655C12.2789 2.4152 12.8995 2.44651 13.5172 2.51034V4.67034H12.2483C11.2441 4.67034 11.0483 5.14483 11.0483 5.84552V7.38759H13.4483L13.1366 9.80966H11.0345V16H15.1172C15.6048 16 16 15.6048 16 15.1172V0.882759C16 0.395224 15.6048 0 15.1172 0Z"
              fill="#3F4358"
            /></svg
        ></a>
        <a href="#" class="social__link"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M13.6345 13.6338H11.262V9.92C11.262 9.03467 11.246 7.896 10.0281 7.896C8.79427 7.896 8.60581 8.86133 8.60581 9.85689V13.6338H6.23501V5.99822H8.50892V7.04178H8.54181C8.85916 6.44178 9.63253 5.80889 10.7873 5.80889C13.191 5.80889 13.6345 7.38933 13.6345 9.44622V13.6338ZM3.55931 4.95556C2.7966 4.95556 2.18145 4.33867 2.18145 3.57867C2.18145 2.81956 2.7966 2.20267 3.55931 2.20267C4.31757 2.20267 4.9345 2.81956 4.9345 3.57867C4.9345 4.33867 4.31757 4.95556 3.55931 4.95556ZM2.36991 13.6338H4.74604V5.99822H2.36991V13.6338ZM14.8159 0H1.17962C0.528918 0 0 0.516444 0 1.15378V14.8453C0 15.4827 0.528918 16 1.17962 16H14.8159C15.4684 16 16 15.4827 16 14.8453V1.15378C16 0.516444 15.4684 0 14.8159 0Z"
              fill="#3F4358"
            /></svg
        ></a>
        <a href="#" class="social__link"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M2 16H14C15.104 16 16 15.104 16 14V2C16 0.896 15.104 0 14 0H2C0.896 0 0 0.896 0 2V14C0 15.104 0.896 16 2 16ZM11.98 6.228C11.98 8.936 9.916 12.064 6.144 12.064C4.988 12.064 3.908 11.724 3.004 11.148C3.164 11.168 3.328 11.176 3.492 11.176C4.452 11.176 5.336 10.848 6.04 10.296C5.144 10.28 4.384 9.688 4.124 8.872C4.248 8.896 4.376 8.908 4.508 8.908C4.696 8.908 4.876 8.884 5.048 8.836C4.112 8.648 3.404 7.816 3.404 6.824V6.796C3.68 6.948 3.996 7.04 4.332 7.052C3.784 6.684 3.42 6.056 3.42 5.344C3.42 4.968 3.52 4.616 3.696 4.312C4.708 5.552 6.22 6.372 7.924 6.456C7.892 6.304 7.872 6.148 7.872 5.988C7.872 4.856 8.792 3.936 9.924 3.936C10.512 3.936 11.044 4.184 11.42 4.584C11.888 4.492 12.328 4.324 12.724 4.088C12.568 4.568 12.244 4.972 11.82 5.224C12.236 5.172 12.632 5.064 13 4.9C12.724 5.312 12.376 5.676 11.976 5.964C11.98 6.05198 11.98 6.13996 11.98 6.22794V6.228Z"
              fill="#3F4358"
            /></svg
        ></a>
        <a href="#" class="social__link"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M7.99997 0C3.58173 0 0 3.58195 0 8.00046C0 11.3898 2.10865 14.2873 5.08457 15.453C5.01467 14.8201 4.95152 13.8466 5.11238 13.1555C5.2577 12.5312 6.0504 9.17877 6.0504 9.17877C6.0504 9.17877 5.81111 8.6995 5.81111 7.99095C5.81111 6.87848 6.45587 6.04796 7.25868 6.04796C7.94121 6.04796 8.27087 6.56048 8.27087 7.17498C8.27087 7.86136 7.83386 8.88765 7.60834 9.83872C7.41987 10.6351 8.00764 11.2845 8.793 11.2845C10.2149 11.2845 11.3078 9.78514 11.3078 7.62081C11.3078 5.70529 9.9315 4.36591 7.96619 4.36591C5.68999 4.36591 4.35384 6.07334 4.35384 7.83795C4.35384 8.52551 4.61871 9.26291 4.94922 9.66368C5.0146 9.7429 5.02418 9.81235 5.00477 9.89315C4.94398 10.1459 4.80902 10.6893 4.78252 10.8005C4.74764 10.9469 4.66658 10.9779 4.51497 10.9075C3.51582 10.4423 2.89113 8.9815 2.89113 7.80804C2.89113 5.28432 4.72468 2.96666 8.17703 2.96666C10.9522 2.96666 13.1089 4.94428 13.1089 7.58729C13.1089 10.3446 11.3705 12.5636 8.9576 12.5636C8.14699 12.5636 7.38485 12.1425 7.12398 11.645C7.12398 11.645 6.72284 13.1725 6.62559 13.5468C6.44499 14.2418 5.95742 15.1128 5.6313 15.6442C6.3798 15.8759 7.17526 16.001 7.99997 16.001C12.4183 16.001 16 12.419 16 8.00046C16 3.58195 12.4183 0 7.99997 0Z"
              fill="#3F4358"
            /></svg
        ></a>
      </nav>
    </div>
  </div>
</div>
