<div class="get-started-container">
  <div class="container">
    <div class="get-started">
      <div class="xs-12 lg-6">
        <img src="assets/images/freelancer_2.png" alt="" />
      </div>
      <div class="xs-12 lg-6 get-started__content">
        <h2 class="heading sm-8 md-9">
          <span class="heading__span">Create Profile</span><br />
          Build Your Personal Account Profile
        </h2>
        <p class="xl-9">
          A professional profile is a brief summary of your skills, strengths,
          and key experiences. It also should convey what you are seeking or
          what you have to offer the person reading it.
        </p>
        <a href="#" class="btn btn--primary cta">Create Profile</a>
      </div>
    </div>
  </div>
</div>
