<div class="header">
  <%- include('./navbar') %>
  <div class="container">
    <div class="row header__content">
      <div class="sm-9 lg-5">
        <h1>
          Find Jobs, <br />
          Hire Creatives
        </h1>
        <p>
          Join a network of 40,000 freelancers that are finding work they love
          and making a great living.
        </p>
        <div class="row">
          <a href="#" class="btn btn--primary header__cta">Get started</a>
          <a href="#" class="btn btn--outlined header__cta">Learn more</a>
        </div>
        <div>
          <p class="partner">Trusted by:</p>
          <div class="row sm-9">
            <div class="xs-4">
              <img src="assets/images/microsoft.png" alt="" />
            </div>
            <div class="xs-4">
              <img src="assets/images/dribbble.png" alt="" />
            </div>
            <div class="xs-4">
              <img src="assets/images/airbnb.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="lg-6">
        <img src="assets/images/header_hero.jpg" alt="" class="header__img" />
      </div>
    </div>
  </div>
</div>
