<div class="container">
  <div class="row steps-container">
    <div class="lg-6 steps">
      <h2 class="xs-12 sm-8 heading">
        <span class="heading__span">How it Works</span><br />
        Easy Step To Find and Apply Your Dream Job
      </h2>
      <!-- <div class="row steps"> -->
      <div class="sm-11 step">
        <h3 class="">Keep your Job search focused</h3>
        <p>
          When you're searching for jobs, use advanced search options to find
          jobs by using keywords that match your interests.
        </p>
      </div>
      <div class="sm-11 step">
        <h3>Take time to target your resume and cover letter</h3>
        <p>
          It's important to take the time to write targeted resumes and cover
          letters that specifically link your qualifications to the hiring
          criteria for
        </p>
      </div>
      <div class="sm-11 step">
        <h3>Build your professional brand</h3>
        <p>
          A strong personal brand that portrays you in a professional light will
          provide recruiters, employers, and contacts with a strong positive
          impression of you as a candidate they should be interested in.
        </p>
      </div>
      <!-- </div> -->
    </div>
    <div class="lg-6">
      <img src="assets/images/freelancer_1.png" alt="Freelancer" class="" />
    </div>
  </div>
</div>
