<div class="container jobs-container">
  <div class="jobs-container__heading">
    <h2 class="heading">Find your next job</h2>
    <p>Over 5,000 Active Jobs</p>
  </div>
  <div class="jobs-container">
    <div class="jobs">
      <div class="xs-12 sm-4 md-4 xl-4 job">
        <div class="company">
          <img
            src="assets/images/company_google.png"
            alt=""
            class="company__img"
          />
          <div>
            <h4 class="company__name">Google</h4>
            <p class="company__title">4 days ago</p>
          </div>
        </div>
        <div>
          <h4>Product Designer</h4>
          <p>
            We are looking for a Senior Product Designer for our mobile team.
          </p>
        </div>
        <div class="job__info">
          <div class="job__location">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="21"
              viewBox="0 0 20 21"
              fill="none"
            >
              <path
                d="M16.6667 5.94189H3.33335C2.41288 5.94189 1.66669 6.68809 1.66669 7.60856V15.9419C1.66669 16.8624 2.41288 17.6086 3.33335 17.6086H16.6667C17.5872 17.6086 18.3334 16.8624 18.3334 15.9419V7.60856C18.3334 6.68809 17.5872 5.94189 16.6667 5.94189Z"
                stroke="#3F4358"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M13.3334 17.6086V4.27531C13.3334 3.83328 13.1578 3.40936 12.8452 3.0968C12.5326 2.78424 12.1087 2.60864 11.6667 2.60864H8.33335C7.89133 2.60864 7.4674 2.78424 7.15484 3.0968C6.84228 3.40936 6.66669 3.83328 6.66669 4.27531V17.6086"
                stroke="#3F4358"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            &nbsp;
            <span>1 Day ago</span>
          </div>
          <div class="job__location">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="21"
              viewBox="0 0 20 21"
              fill="none"
            >
              <g clip-path="url(#clip0_210_161)">
                <path
                  d="M17.5 8.44189C17.5 14.2752 10 19.2752 10 19.2752C10 19.2752 2.5 14.2752 2.5 8.44189C2.5 6.45277 3.29018 4.54512 4.6967 3.13859C6.10322 1.73207 8.01088 0.941895 10 0.941895C11.9891 0.941895 13.8968 1.73207 15.3033 3.13859C16.7098 4.54512 17.5 6.45277 17.5 8.44189Z"
                  stroke="#3F4358"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M10 10.9419C11.3807 10.9419 12.5 9.82261 12.5 8.44189C12.5 7.06118 11.3807 5.94189 10 5.94189C8.61929 5.94189 7.5 7.06118 7.5 8.44189C7.5 9.82261 8.61929 10.9419 10 10.9419Z"
                  stroke="#3F4358"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </g>
              <defs>
                <clipPath id="clip0_210_161">
                  <rect
                    width="20"
                    height="20"
                    fill="white"
                    transform="translate(0 0.108643)"
                  />
                </clipPath>
              </defs>
            </svg>
            &nbsp;
            <span>Remote</span>
          </div>
        </div>
      </div>
      <div class="xs-12 sm-4 md-4 xl-4 job">
        <div class="company">
          <img
            src="assets/images/company_mynergy.png"
            alt=""
            class="company__img"
          />
          <div>
            <h4 class="company__name">Mynergy</h4>
            <p class="company__title">4 days ago</p>
          </div>
        </div>
        <div>
          <h4>Product Designer</h4>
          <p>
            We are looking for a Senior Product Designer for our mobile team.
          </p>
        </div>
        <div class="job__info">
          <div class="job__location">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="21"
              viewBox="0 0 20 21"
              fill="none"
            >
              <path
                d="M16.6667 5.94189H3.33335C2.41288 5.94189 1.66669 6.68809 1.66669 7.60856V15.9419C1.66669 16.8624 2.41288 17.6086 3.33335 17.6086H16.6667C17.5872 17.6086 18.3334 16.8624 18.3334 15.9419V7.60856C18.3334 6.68809 17.5872 5.94189 16.6667 5.94189Z"
                stroke="#3F4358"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M13.3334 17.6086V4.27531C13.3334 3.83328 13.1578 3.40936 12.8452 3.0968C12.5326 2.78424 12.1087 2.60864 11.6667 2.60864H8.33335C7.89133 2.60864 7.4674 2.78424 7.15484 3.0968C6.84228 3.40936 6.66669 3.83328 6.66669 4.27531V17.6086"
                stroke="#3F4358"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            &nbsp;
            <span>1 Day ago</span>
          </div>
          <div class="job__location">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="21"
              viewBox="0 0 20 21"
              fill="none"
            >
              <g clip-path="url(#clip0_210_161)">
                <path
                  d="M17.5 8.44189C17.5 14.2752 10 19.2752 10 19.2752C10 19.2752 2.5 14.2752 2.5 8.44189C2.5 6.45277 3.29018 4.54512 4.6967 3.13859C6.10322 1.73207 8.01088 0.941895 10 0.941895C11.9891 0.941895 13.8968 1.73207 15.3033 3.13859C16.7098 4.54512 17.5 6.45277 17.5 8.44189Z"
                  stroke="#3F4358"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M10 10.9419C11.3807 10.9419 12.5 9.82261 12.5 8.44189C12.5 7.06118 11.3807 5.94189 10 5.94189C8.61929 5.94189 7.5 7.06118 7.5 8.44189C7.5 9.82261 8.61929 10.9419 10 10.9419Z"
                  stroke="#3F4358"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </g>
              <defs>
                <clipPath id="clip0_210_161">
                  <rect
                    width="20"
                    height="20"
                    fill="white"
                    transform="translate(0 0.108643)"
                  />
                </clipPath>
              </defs>
            </svg>
            &nbsp;
            <span>Remote</span>
          </div>
        </div>
      </div>
      <div class="xs-12 sm-4 md-4 xl-4 job">
        <div class="company">
          <img
            src="assets/images/company_gopro.png"
            alt="Gopro"
            class="company__img"
          />
          <div>
            <h4 class="company__name">Gopro</h4>
            <p class="company__title">4 days ago</p>
          </div>
        </div>
        <div>
          <h4>Product Designer</h4>
          <p>
            We are looking for a Senior Product Designer for our mobile team.
          </p>
        </div>
        <div class="job__info">
          <div class="job__location">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="21"
              viewBox="0 0 20 21"
              fill="none"
            >
              <path
                d="M16.6667 5.94189H3.33335C2.41288 5.94189 1.66669 6.68809 1.66669 7.60856V15.9419C1.66669 16.8624 2.41288 17.6086 3.33335 17.6086H16.6667C17.5872 17.6086 18.3334 16.8624 18.3334 15.9419V7.60856C18.3334 6.68809 17.5872 5.94189 16.6667 5.94189Z"
                stroke="#3F4358"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M13.3334 17.6086V4.27531C13.3334 3.83328 13.1578 3.40936 12.8452 3.0968C12.5326 2.78424 12.1087 2.60864 11.6667 2.60864H8.33335C7.89133 2.60864 7.4674 2.78424 7.15484 3.0968C6.84228 3.40936 6.66669 3.83328 6.66669 4.27531V17.6086"
                stroke="#3F4358"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            &nbsp;
            <span>1 Day ago</span>
          </div>
          <div class="job__location">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="21"
              viewBox="0 0 20 21"
              fill="none"
            >
              <g clip-path="url(#clip0_210_161)">
                <path
                  d="M17.5 8.44189C17.5 14.2752 10 19.2752 10 19.2752C10 19.2752 2.5 14.2752 2.5 8.44189C2.5 6.45277 3.29018 4.54512 4.6967 3.13859C6.10322 1.73207 8.01088 0.941895 10 0.941895C11.9891 0.941895 13.8968 1.73207 15.3033 3.13859C16.7098 4.54512 17.5 6.45277 17.5 8.44189Z"
                  stroke="#3F4358"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M10 10.9419C11.3807 10.9419 12.5 9.82261 12.5 8.44189C12.5 7.06118 11.3807 5.94189 10 5.94189C8.61929 5.94189 7.5 7.06118 7.5 8.44189C7.5 9.82261 8.61929 10.9419 10 10.9419Z"
                  stroke="#3F4358"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </g>
              <defs>
                <clipPath id="clip0_210_161">
                  <rect
                    width="20"
                    height="20"
                    fill="white"
                    transform="translate(0 0.108643)"
                  />
                </clipPath>
              </defs>
            </svg>
            &nbsp;
            <span>Remote</span>
          </div>
        </div>
      </div>
    </div>
    <div class="jobs">
      <div class="xs-12 sm-4 md-4 xl-4 job">
        <div class="company">
          <img
            src="assets/images/company_twitter.png"
            alt="Twitter"
            class="company__img"
          />
          <div>
            <h4 class="company__name">Twitter</h4>
            <p class="company__title">4 days ago</p>
          </div>
        </div>
        <div>
          <h4>Product Designer</h4>
          <p>
            We are looking for a Senior Product Designer for our mobile team.
          </p>
        </div>
        <div class="job__info">
          <div class="job__location">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="21"
              viewBox="0 0 20 21"
              fill="none"
            >
              <path
                d="M16.6667 5.94189H3.33335C2.41288 5.94189 1.66669 6.68809 1.66669 7.60856V15.9419C1.66669 16.8624 2.41288 17.6086 3.33335 17.6086H16.6667C17.5872 17.6086 18.3334 16.8624 18.3334 15.9419V7.60856C18.3334 6.68809 17.5872 5.94189 16.6667 5.94189Z"
                stroke="#3F4358"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M13.3334 17.6086V4.27531C13.3334 3.83328 13.1578 3.40936 12.8452 3.0968C12.5326 2.78424 12.1087 2.60864 11.6667 2.60864H8.33335C7.89133 2.60864 7.4674 2.78424 7.15484 3.0968C6.84228 3.40936 6.66669 3.83328 6.66669 4.27531V17.6086"
                stroke="#3F4358"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            &nbsp;
            <span>1 Day ago</span>
          </div>
          <div class="job__location">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="21"
              viewBox="0 0 20 21"
              fill="none"
            >
              <g clip-path="url(#clip0_210_161)">
                <path
                  d="M17.5 8.44189C17.5 14.2752 10 19.2752 10 19.2752C10 19.2752 2.5 14.2752 2.5 8.44189C2.5 6.45277 3.29018 4.54512 4.6967 3.13859C6.10322 1.73207 8.01088 0.941895 10 0.941895C11.9891 0.941895 13.8968 1.73207 15.3033 3.13859C16.7098 4.54512 17.5 6.45277 17.5 8.44189Z"
                  stroke="#3F4358"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M10 10.9419C11.3807 10.9419 12.5 9.82261 12.5 8.44189C12.5 7.06118 11.3807 5.94189 10 5.94189C8.61929 5.94189 7.5 7.06118 7.5 8.44189C7.5 9.82261 8.61929 10.9419 10 10.9419Z"
                  stroke="#3F4358"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </g>
              <defs>
                <clipPath id="clip0_210_161">
                  <rect
                    width="20"
                    height="20"
                    fill="white"
                    transform="translate(0 0.108643)"
                  />
                </clipPath>
              </defs>
            </svg>
            &nbsp;
            <span>Remote</span>
          </div>
        </div>
      </div>
      <div class="xs-12 sm-4 md-4 xl-4 job">
        <div class="company">
          <img
            src="assets/images/company_gopro.png"
            alt="Gopro"
            class="company__img"
          />
          <div>
            <h4 class="company__name">Gopro</h4>
            <p class="company__title">4 days ago</p>
          </div>
        </div>
        <div>
          <h4>Product Designer</h4>
          <p>
            We are looking for a Senior Product Designer for our mobile team.
          </p>
        </div>
        <div class="job__info">
          <div class="job__location">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="21"
              viewBox="0 0 20 21"
              fill="none"
            >
              <path
                d="M16.6667 5.94189H3.33335C2.41288 5.94189 1.66669 6.68809 1.66669 7.60856V15.9419C1.66669 16.8624 2.41288 17.6086 3.33335 17.6086H16.6667C17.5872 17.6086 18.3334 16.8624 18.3334 15.9419V7.60856C18.3334 6.68809 17.5872 5.94189 16.6667 5.94189Z"
                stroke="#3F4358"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M13.3334 17.6086V4.27531C13.3334 3.83328 13.1578 3.40936 12.8452 3.0968C12.5326 2.78424 12.1087 2.60864 11.6667 2.60864H8.33335C7.89133 2.60864 7.4674 2.78424 7.15484 3.0968C6.84228 3.40936 6.66669 3.83328 6.66669 4.27531V17.6086"
                stroke="#3F4358"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            &nbsp;
            <span>1 Day ago</span>
          </div>
          <div class="job__location">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="21"
              viewBox="0 0 20 21"
              fill="none"
            >
              <g clip-path="url(#clip0_210_161)">
                <path
                  d="M17.5 8.44189C17.5 14.2752 10 19.2752 10 19.2752C10 19.2752 2.5 14.2752 2.5 8.44189C2.5 6.45277 3.29018 4.54512 4.6967 3.13859C6.10322 1.73207 8.01088 0.941895 10 0.941895C11.9891 0.941895 13.8968 1.73207 15.3033 3.13859C16.7098 4.54512 17.5 6.45277 17.5 8.44189Z"
                  stroke="#3F4358"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M10 10.9419C11.3807 10.9419 12.5 9.82261 12.5 8.44189C12.5 7.06118 11.3807 5.94189 10 5.94189C8.61929 5.94189 7.5 7.06118 7.5 8.44189C7.5 9.82261 8.61929 10.9419 10 10.9419Z"
                  stroke="#3F4358"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </g>
              <defs>
                <clipPath id="clip0_210_161">
                  <rect
                    width="20"
                    height="20"
                    fill="white"
                    transform="translate(0 0.108643)"
                  />
                </clipPath>
              </defs>
            </svg>
            &nbsp;
            <span>Remote</span>
          </div>
        </div>
      </div>
      <div class="xs-12 sm-4 md-4 xl-4 job">
        <div class="company">
          <img
            src="assets/images/company_kuda.png"
            alt="Kuda"
            class="company__img"
          />
          <div>
            <h4 class="company__name">Kuda</h4>
            <p class="company__title">4 days ago</p>
          </div>
        </div>
        <div>
          <h4>Product Designer</h4>
          <p>
            We are looking for a Senior Product Designer for our mobile team.
          </p>
        </div>
        <div class="job__info">
          <div class="job__location">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="21"
              viewBox="0 0 20 21"
              fill="none"
            >
              <path
                d="M16.6667 5.94189H3.33335C2.41288 5.94189 1.66669 6.68809 1.66669 7.60856V15.9419C1.66669 16.8624 2.41288 17.6086 3.33335 17.6086H16.6667C17.5872 17.6086 18.3334 16.8624 18.3334 15.9419V7.60856C18.3334 6.68809 17.5872 5.94189 16.6667 5.94189Z"
                stroke="#3F4358"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M13.3334 17.6086V4.27531C13.3334 3.83328 13.1578 3.40936 12.8452 3.0968C12.5326 2.78424 12.1087 2.60864 11.6667 2.60864H8.33335C7.89133 2.60864 7.4674 2.78424 7.15484 3.0968C6.84228 3.40936 6.66669 3.83328 6.66669 4.27531V17.6086"
                stroke="#3F4358"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            &nbsp;
            <span>1 Day ago</span>
          </div>
          <div class="job__location">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="21"
              viewBox="0 0 20 21"
              fill="none"
            >
              <g clip-path="url(#clip0_210_161)">
                <path
                  d="M17.5 8.44189C17.5 14.2752 10 19.2752 10 19.2752C10 19.2752 2.5 14.2752 2.5 8.44189C2.5 6.45277 3.29018 4.54512 4.6967 3.13859C6.10322 1.73207 8.01088 0.941895 10 0.941895C11.9891 0.941895 13.8968 1.73207 15.3033 3.13859C16.7098 4.54512 17.5 6.45277 17.5 8.44189Z"
                  stroke="#3F4358"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M10 10.9419C11.3807 10.9419 12.5 9.82261 12.5 8.44189C12.5 7.06118 11.3807 5.94189 10 5.94189C8.61929 5.94189 7.5 7.06118 7.5 8.44189C7.5 9.82261 8.61929 10.9419 10 10.9419Z"
                  stroke="#3F4358"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </g>
              <defs>
                <clipPath id="clip0_210_161">
                  <rect
                    width="20"
                    height="20"
                    fill="white"
                    transform="translate(0 0.108643)"
                  />
                </clipPath>
              </defs>
            </svg>
            &nbsp;
            <span>Remote</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cta">
    <a href="#" class="btn btn--primary">Explore All</a>
  </div>
</div>
