<div class="market">
  <div class="market-place">
    <div class="md-7 lg-4 xl-5 market-place__content">
      <h2>Explore the marketplace</h2>
      <p>
        Finding a job shouldn't be a full time Job. Tell us what you're looking
        for and we'll get to work for you.
      </p>
      <a href="#" class="btn btn--primary cta">Explore</a>
    </div>
    <div class="lg-8 xl-7 market-place__showcase">
      <div class="market-place__img">
        <h3>UI/UX</h3>
      </div>
      <div class="market-place__img">
        <h3>Graphics Design</h3>
      </div>
      <div class="market-place__img">
        <h3>User Interface</h3>
      </div>
      <div class="market-place__img">
        <h3>Photography</h3>
      </div>
    </div>
  </div>
</div>
