<div class="navbar">
  <nav class="navbar__nav">
    <a href="#" class="logo">Company Logo</a>
    <input type="checkbox" name="" id="navbar__toggle" />
    <span class="navbar__toggler"></span>
    <ul class="navbar__navlist">
      <li>
        <a href="#">Find Jobs</a>
      </li>
      <li>
        <a href="#">About us</a>
      </li>
      <li>
        <a href="#">Blog</a>
      </li>
      <li>
        <a href="#">Contact us</a>
      </li>
      <li>
        <a href="#">Login</a>
      </li>
      <li class="navbar__navlist-item">
        <a href="#" class="btn btn--primary">Sign up</a>
      </li>
    </ul>
  </nav>
</div>
