<div class="container">
  <div class="row projects-title">
    <h2 class="heading">Get Inspired with projects by freelancers</h2>
    <a href="#" class="btn btn-inline cta"
      >See more projects
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="21"
        viewBox="0 0 20 21"
        fill="none"
      >
        <path
          d="M4.16669 10.2173H15.8334"
          stroke="#19A463"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M10 4.38379L15.8333 10.2171L10 16.0505"
          stroke="#19A463"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        /></svg
    ></a>
  </div>
  <div class="projects">
    <div class="xs-12 sm-6 md-4 project">
      <img
        src="assets/images/project_preview_1.png"
        alt=""
        class="project__img"
      />
      <div class="project__info">
        <img src="assets/images/avatar_1.png" alt="" class="project__avatar" />
        <div class="">
          <h4 class="project__title">UX Design</h4>
          <p class="project__owner">By Ogologo</p>
        </div>
      </div>
    </div>
    <div class="xs-12 sm-6 md-4 project">
      <img
        src="assets/images/project_preview_2.png"
        alt=""
        class="project__img"
      />
      <div class="project__info">
        <img src="assets/images/avatar_2.png" alt="" class="project__avatar" />
        <div class="">
          <h4 class="project__title">UX Design</h4>
          <p class="project__owner">By Ogologo</p>
        </div>
      </div>
    </div>
    <div class="xs-12 sm-6 md-4 project">
      <img
        src="assets/images/project_preview_1.png"
        alt=""
        class="project__img"
      />
      <div class="project__info">
        <img src="assets/images/avatar_3.png" alt="" class="project__avatar" />
        <div class="">
          <h4 class="project__title">UX Design</h4>
          <p class="project__owner">By Ogologo</p>
        </div>
      </div>
    </div>
  </div>
</div>
