<div class="container">
  <h2 class="sm-8 lg-6 xl-5">
    We offer unrivaled opportunity for performance-oriented and excitable
    career-seekers.
  </h2>
  <div class="row stats">
    <div class="xs-5 sm-3 stat">
      <h3>11M+</h3>
      <p>Daily Webiste visit</p>
    </div>
    <div class="xs-5 sm-3 stat">
      <h3>38+</h3>
      <p>Active Job Seekers</p>
    </div>
    <div class="xs-5 sm-3 stat">
      <h3>66+</h3>
      <p>Companies</p>
    </div>
    <div class="xs-5 sm-3 stat">
      <h3>66+</h3>
      <p>New Jobs</p>
    </div>
  </div>
</div>
