<div class="container">
  <div class="xs-12 sm-10 subscribe">
    <h2 class="heading">Subscribe for Jobs vacancy updates</h2>
    <p>Subscribe to our newsletter for latest Jobs, projects and updates</p>
    <form action="#" class="subscribe__form">
      <div class="input-group">
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Enter your email address"
          class="input"
        />
        <button type="submit" class="btn--primary">Subscribe</button>
      </div>
    </form>
  </div>
</div>
