.btn {
  border-radius: 6px;
  padding: 0.75rem 1.5rem;

  &--primary {
    border: 1px solid $bg-color-light;
    background-color: $bg-color-light;
    color: $text-color-light;
  }

  &--outlined {
    border: 1px solid $bg-color-light;
    color: $text-color-primary;
  }

  &--plain {
    background-color: transparent;
  }

  &-inline {
    padding: 0.75rem 0;
  }
}
