.header {
  min-height: 70vh;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 80.6%,
    rgba(84, 106, 241, 0.05) 100%
  );
  position: relative;

  .partner {
    font-size: $font-size-sm;
    color: rgba($text-color-dark, 0.8);
  }

  &__cta {
    display: inline-block;
    margin: 1rem 1rem 0.75rem 0;
  }

  &__img {
    margin-top: 1rem;
    border-radius: 12px;
  }

  &__content {
    @include flex($align: center, $justify: space-between);
    padding: 10rem 0 8rem;
  }
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 9999;

  input[type="checkbox"]#navbar__toggle {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    opacity: 0;

    @include media-query(lg) {
      display: none;
    }

    &:checked ~ .navbar__navlist {
      @include flex($direction: column, $justify: space-around);
      min-height: 50vmax;

      @include media-query(lg) {
        @include flex($direction: row, $justify: space-between);
        width: 50%;
        min-height: 0;
      }
    }
  }

  &__toggler {
    width: 2rem;
    height: 2px;
    background-color: $text-color-dark;
    position: absolute;
    top: 3rem;
    right: 0;

    @include media-query(lg) {
      display: none;
    }

    &::after {
      content: "";
      display: inline-block;
      background-color: $text-color-dark;
      width: 1.5rem;
      height: 2px;
      position: absolute;
      top: 0.5rem;
      right: 0;
    }
  }

  .logo {
    display: inline-block;
    font-weight: bold;
    padding: 0.75rem 0;
  }

  &__nav {
    max-width: 1200px;
    width: 88%;
    margin: 0 auto;
    padding: 2rem 0;
    position: relative;

    @include media-query(lg) {
      @include flex($direction: row, $align: center, $justify: space-between);
    }
  }

  &__navlist {
    display: none;
    padding: 0.75rem 0;

    @include media-query(lg) {
      @include flex($direction: row, $justify: space-between);
      width: 50%;
    }
  }
}

.search {
  border-radius: 12px;
  background: #fff;
  position: relative;
  top: -8.5rem;
  padding: 1rem;
  border: 1px solid $border-color-light;
  @include flex($align: center);

  &-select {
    @include flex($align: center);
    position: relative;

    &::after {
      content: url("../assets/icons/caret_down.svg");
      display: inline-block;
      position: absolute;
      padding-left: 0.5rem;
      top: 0.75rem;
      right: 0;
    }
  }

  &-input {
    position: relative;

    @include flex($align: center);

    select.input {
      width: 100%;
      z-index: 9;
    }
  }

  .input {
    flex-grow: 2;
  }

  input[type="checkbox"].checkbox {
    appearance: none;
    padding: 0.85rem 0;
    opacity: 0;

    &:checked + label {
      color: $text-color-primary;
    }

    & + label {
      cursor: pointer;
    }
  }
}

.stats {
  margin-top: 2rem;

  @include flex($justify: space-between);

  .stat {
    text-align: center;
    margin-top: 1rem;
  }
}

.market {
  background-color: $section-bg-dark;
  padding: 5rem 0;
  position: relative;
  display: flex;

  @include media-query(lg) {
    @include flex($justify: flex-end);
  }

  .cta {
    display: inline-block;
    margin: 1rem 0;
  }

  &-place {
    position: relative;
    margin: 0 auto;
    width: 88%;
    max-width: 1200px;

    @include flex;

    @include media-query(lg) {
      @include flex($wrap: nowrap);
    }

    &__content {
      padding: 2rem 0;
    }

    &__showcase {
      @include flex($wrap: nowrap);
    }

    &__img {
      border: 1px solid #dbdde0;
      filter: drop-shadow(0px 16px 16px rgba(0, 0, 0, 0.08));
      border-radius: 16px;
      min-width: 194px;
      height: 264px;
      margin-right: 2rem;
      color: $text-color-light;
      padding: 1rem 1rem 0 1rem;
      background-repeat: no-repeat;

      @include flex($direction: column-reverse);

      &:nth-of-type(1) {
        background: linear-gradient(
            360deg,
            rgba(0, 0, 0, 0.7) 0%,
            rgba(0, 0, 0, 0) 57.61%
          ),
          url(../assets/images/ui_ux.jpg) center/cover;
      }
      &:nth-of-type(2) {
        background: linear-gradient(
            360deg,
            rgba(0, 0, 0, 0.7) 0%,
            rgba(0, 0, 0, 0) 57.61%
          ),
          url(../assets/images/graphics_design.jpg) center/cover;
      }
      &:nth-of-type(3) {
        background: linear-gradient(
            360deg,
            rgba(0, 0, 0, 0.7) 0%,
            rgba(0, 0, 0, 0) 57.61%
          ),
          url(../assets/images/user_interface.jpg) center/cover;
      }
      &:nth-of-type(4) {
        background: linear-gradient(
            360deg,
            rgba(0, 0, 0, 0.7) 0%,
            rgba(0, 0, 0, 0) 57.61%
          ),
          url(../assets/images/photography.jpg) center/cover;
      }
    }
  }
}

.steps {
  counter-reset: steps;

  &-container {
    @include flex($align: center);
  }

  .step {
    counter-increment: steps;
    padding-left: 2.75rem;
    position: relative;

    &::before {
      content: "0" counter(steps);
      font-size: 2rem;
      font-weight: bold;
      position: relative;
      left: -2.5rem;
      top: 2rem;
    }

    &::after {
      content: "";
      display: block;
      height: 1rem;
      width: 1.75rem;
      background-color: rgba($bg-color-dark, 0.7);
      position: absolute;
      left: 0.5rem;
      top: 2.75rem;
    }

    @include steps-color;
  }
}

.get-started {
  @include flex($align: center);

  &-container {
    background-color: $section-bg-dark;
    padding: 4rem 0 6rem;
  }

  &__content {
    padding: 1.5rem;
  }

  .cta {
    display: inline-block;
    margin-top: 1rem;
  }
}

.jobs {
  &-container {
    overflow-x: auto;
  }

  @include flex($justify: space-between, $wrap: nowrap);

  &-container {
    &__heading {
      text-align: center;
      margin-bottom: 2rem;
    }

    .cta {
      text-align: center;
      margin: 1rem auto;
    }
  }

  .job {
    min-width: 320px;
    max-width: 360px;
    padding: 1.5rem;
    padding-right: 2.5rem;
    margin-bottom: 2rem;
    border: 1px solid $border-color-light;
    border-radius: 12px;
    flex-shrink: 0;

    &__info {
      @include flex($align: center, $justify: space-between);
      max-width: 100%;
      margin-top: 1.5rem;
    }

    &__location {
      @include flex($align: center);
      position: relative;
      width: 50%;

      &:first-of-type::after {
        content: "•";
        position: absolute;
        right: 1rem;
      }
    }

    .company {
      @include flex($align: center);
      margin-bottom: 1.5rem;

      &__img {
        background-color: $section-bg-light;
        border-radius: 6px;
        margin-right: 1rem;
        padding: 0.5rem;
      }

      &__name {
        margin-bottom: 0;
      }

      &__title {
        margin: 0;
      }
    }
  }
}

.subscribe {
  margin: auto;
  padding: 5rem 2rem;
  background: url("../assets/icons/bell.png") top left/25% no-repeat,
    url("../assets/icons/bell_2.png") 25% 0/15% no-repeat $bg-color-light;
  border-radius: 15px;
  text-align: center;
  color: $text-color-light;

  &__form {
    max-width: 700px;
    margin: 3rem auto 0;
  }
}

.projects {
  @include flex($wrap: nowrap);
  overflow-x: auto;
  margin-top: 2rem;

  &-title {
    @include flex($justify: space-between);

    .cta {
      @include flex($align: center);
      display: inline-flex;
      color: $bg-color-dark;
      font-weight: bold;
    }
  }

  .project {
    margin-bottom: 2rem;
    flex-shrink: 0;

    &__img {
      width: 100%;
    }

    &__info {
      @include flex($align: center);
      margin-top: 1rem;
    }

    &__avatar {
      margin-right: 1rem;
    }

    &__title {
      margin-bottom: 0.25rem;
    }

    &__owner {
      margin: 0;
      font-size: $font-size-sm;
    }
  }
}
