.stats {
  margin-top: 2rem;
  @include flex($justify: space-between);

  .stat {
    text-align: center;
    margin-top: 1rem;
  }
}

.steps {
  counter-reset: steps;

  &-container {
    @include flex($align: center);
  }

  .step {
    counter-increment: steps;
    padding-left: 2.75rem;
    position: relative;

    &::before {
      content: "0" counter(steps);
      font-size: 2rem;
      font-weight: bold;
      position: relative;
      left: -2.5rem;
      top: 2rem;
    }

    &::after {
      content: "";
      display: block;
      height: 1rem;
      width: 1.75rem;
      background-color: rgba($bg-color-dark, 0.7);
      position: absolute;
      left: 0.5rem;
      top: 2.75rem;
    }

    @include steps-color;
  }
}

.get-started {
  @include flex($align: center);

  &-container {
    background-color: $section-bg-dark;
    padding: 4rem 0 6rem;
  }

  &__content {
    padding: 1.5rem;
  }

  .cta {
    display: inline-block;
    margin-top: 1rem;
  }
}

.subscribe {
  margin: auto;
  padding: 5rem 2rem;
  background: url("../assets/icons/bell.png") top left/25% no-repeat,
    url("../assets/icons/bell_2.png") 25% 0/15% no-repeat $bg-color-light;
  border-radius: 15px;
  text-align: center;
  color: $text-color-light;

  &__form {
    max-width: 700px;
    margin: 3rem auto 0;
  }
}

.projects {
  @include flex($wrap: nowrap);
  overflow-x: auto;
  margin-top: 2rem;

  &-title {
    @include flex($justify: space-between);

    .cta {
      @include flex($align: center);
      display: inline-flex;
      color: $bg-color-dark;
      font-weight: bold;
    }
  }

  .project {
    margin-bottom: 2rem;
    flex-shrink: 0;

    &__img {
      width: 100%;
    }

    &__info {
      @include flex($align: center);
      margin-top: 1rem;
    }

    &__avatar {
      margin-right: 1rem;
    }

    &__title {
      margin-bottom: 0.25rem;
    }

    &__owner {
      margin: 0;
      font-size: $font-size-sm;
    }
  }
}
